
extends layout

block head
  title loading
  link(rel='stylesheet', href='/stylesheets/game.css')
  script(type='text/javascript', src='javascripts/game.js')

block content
  #position(hidden data-position=`${position}`)
  .content
    img(class=`logo ${position}` src="images/logo.png", alt="")
    img(class=`description-img ${position}` src="images/setting.png", alt="")
    button(class=`start-game-btn ${position}`) 開始遊戲

    