
extends layout

block head
  title loading
  link(rel='stylesheet', href='/stylesheets/make_pair.css')
  script(type='text/javascript', src='javascripts/setting.js')

block content
  .content
    #room_id(hidden data-room_id=`${room_id}`)
    #pair_user_id(hidden data-pair_user_id=`${pair_user_id}`)
    .main
      .show
        img(class="qrcode" src=`https://api.qrserver.com/v1/create-qr-code/?size=800x800&data=${room_id}`, alt="")
        p.room_id #{room_id}
    .tool_footor
      button.bigger_btn ＋
      button.smaller_btn -
    