.content{
  text-align: center;
  position: absolute;
    width:100%;
		height:100%;
		top:0%;
		overflow: hidden;
    background-image: linear-gradient(to top, #fde9bf, #f8b932);
}
.start-game-btn{
  position: absolute;
  width: 360px;
  height: 168px;
  border-radius:505px;
  background-color: #FFF;
  top:1420px;
  left:320px;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.5);
  font-family: NotoSansMonoCJKtc;
  font-size:60px;
  font-weight:bold;
  color:#f8b932;
}

.description-img{
	width:1000px;
  height:1800px;
  top:240px
}

.content form{
  text-align: center;
  padding-top:3em;
}

.form_line{
  margin-top:1em;
}
.form_line .title{
  font-size:3em;
}

.form_line button{
  padding:4px 12px;
  margin:4px;
  border-radius: 4px;
}

input{
  width:35%;
  height:64px;
  border: 1px solid #000;
  font:inherit;
}